{
  "root": true,
  "env": { "node": true },
  "plugins": ["prettier"],
  "rules": {
    "max-len": ["error", { "code": 300 }],
    "semi": ["error", "never"],
    "no-console": "warn",
    "prettier/prettier": "error"
  }
}
